################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MBM.DAL.API/obj
/MBM.DAL.API/Properties
/MBM.Common/obj
/MBM.UI/obj
/MBM.UI/Properties
/.vs/Authentication/config
/Authentication/bin/Debug/net8.0/appsettings.json
/Authentication/bin/Debug/net8.0/Authentication.dll
/Authentication/bin/Debug/net8.0/Authentication.exe
/Authentication/bin/Debug/net8.0/Authentication.pdb
/.vs/Authentication/DesignTimeBuild/.dtbcache.v2
/.vs/Authentication/FileContentIndex/15e0defa-fd96-432f-a15e-e54404b07a20.vsidx
/.vs/Authentication/FileContentIndex/7aa1616c-1033-4dae-b875-01aeedd26c5e.vsidx
/.vs/Authentication/FileContentIndex/7fb8eea5-3181-45b0-bd35-fb3aaf052e13.vsidx
/.vs/Authentication/FileContentIndex/82c95a39-b551-4580-a417-42edb7e184e7.vsidx
/.vs/Authentication/FileContentIndex/904b8fdf-bdc8-4b8c-af9f-35a775fbed19.vsidx
/.vs/Authentication/FileContentIndex/928fa298-d05f-4c69-8a78-e7675ff74c30.vsidx
/.vs/Authentication/FileContentIndex/f1000ed6-26e4-4065-87a8-1b398bd51a28.vsidx
/Authentication/Authentication.csproj
/.vs/Authentication/v17/.suo
/Authentication/obj/Debug/net8.0/ref/Authentication.dll
/Authentication/obj/Debug/net8.0/apphost.exe
/Authentication/obj/Debug/net8.0/Authentication.csproj.BuildWithSkipAnalyzers
/Authentication/obj/Debug/net8.0/Authentication.csproj.CoreCompileInputs.cache
/Authentication/obj/Debug/net8.0/Authentication.csproj.FileListAbsolute.txt
/Authentication/obj/Debug/net8.0/Authentication.dll
/Authentication/obj/Debug/net8.0/Authentication.pdb
/Authentication/obj/Debug/net8.0/Authentication.sourcelink.json
/Authentication/obj/Debug/net8.0/project.razor.vs.bin
/Authentication/obj/Debug/net8.0/refint/Authentication.dll
/Authentication/obj/Authentication.csproj.nuget.dgspec.json
/Authentication/obj/project.assets.json
/Authentication/obj/project.nuget.cache
/Authentication/obj/Debug/net8.0/Authentication.AssemblyInfo.cs
/Authentication/obj/Debug/net8.0/Authentication.AssemblyInfoInputs.cache
/Authentication/obj/Debug/net8.0/Authentication.csproj.AssemblyReference.cache
/Authentication/bin/Debug/net8.0/Authentication.deps.json
/Authentication/bin/Debug/net8.0/MBM.Common.dll
/Authentication/bin/Debug/net8.0/MBM.Common.pdb
/.vs/Authentication/FileContentIndex/b5778d35-a4aa-48ba-828d-51b72ab74bbe.vsidx
