################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
Authentication/obj/
MBM.DAL.API/bin/
MBM.UI/bin/
/MBM.DAL.API/Properties/launchSettings.json
/MBM.UI/Properties/launchSettings.json
/MBM.UI/bin/
